<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="BlobStorage"
             value="DefaultEndpointsProtocol=https;AccountName=btrader2;AccountKey=BzPnOWd6hC97sGKLMAnrxXZZSaistcqf3AMH3hxKBG03Q7P7IjUbhWzo+9d2ecHeo/UujW83n1n87LLod7J9mw==;EndpointSuffix=core.windows.net"/>
    </appSettings>
</configuration>