<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BlobStorage" value="DefaultEndpointsProtocol=https;AccountName=btrader;AccountKey=uO088OuXxy03LkUpdkNg4ghjYm9K+C5t3yjr8xg6lEZDkNZ/Xp6m2V5Ky3szLlXnKDN661mo2OlL+AStHL6Xug==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>